.inp {
    font-size: 1rem;
    background-color: #E8BCB9;
    align-items: center;
    height: 100px;
    width: 100%;
    resize: none;
    border-radius:7px ;
    padding: 5px;
}

.school textarea {
    width: 100%;

}
.hero{
    width: 100%;
}

@media (max-width: 480px) {
    .inp{
    width: 100%;
    }
}